html,
body{
    height: 100%;
    margin: 0;
    font-size: 20px;
    font-family: cursive;
    font-weight: 400;
    line-height: 1.8em;
    color: #8eb142;
}
.pimg1{
    background-image: url(Image/one.jpg);
    min-height: 100%;
}
.pimg2{
    background-image: url(Image/two.jpg);
    min-height: 100%;
}
.pimg3{
    background-image: url(Image/three.jpg);
    min-height: 100%;
}
.pimg4{
    background-image: url(Image/four.jpg);
    min-height: 100%;
}
.pimg5{
    background-image: url(Image/five.jpg);
    min-height: 100%;
}
.pimg6{
    background-image: url(Image/nature.avif);
    min-height: 100%;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6
{
     position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: black;
    letter-spacing: 8px;
    text-transform: capitalize;
}
.textBg{
    background-color:#282e34;
    color: #acda2c;
    padding: 20px;
}

.section_dark{
    padding: 50px 80px;
    text-align: center;
    background-color: #282e34;
    color: #fcfcfc;
}
.section_dark h2{
     color: #acda2c;
}